.poep-card {
  height: 120px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;

  &:hover {
    border: 2px solid yellow;
  }

  &--disabled {
    cursor: default;
    opacity: 0.8;
  }

  &--disabled:hover {
    border: 2px solid transparent;
  }

  img {
    height: 100%;
    width: auto;
  }
}
